{% with messages=get_flashed_messages() %}
  {% if messages %}
    <script>
      window.onload = function() {
        var message = "{{ messages[-1] }}";
        if (message) {
          alert(message);
        }};
    </script>
  {% endif %}
{% endwith %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>#Style_Focus</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="./static/assets/favicon.png" />
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        rel="stylesheet" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="./static/css/styles.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container px-5">
                <a class="navbar-brand" href="/"><span class="fw-bolder text-primary">#Style_Focus</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/resume">Resume</a></li>
                        <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
                        <li class="nav-item"><a class="nav-link" href="/output">Output</a></li>
                        <li class="nav-item"><a class="nav-link" href="/input">Input</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="/signup">SignUp</a></li> -->

                        {% if not name %}
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="/login">
                                <img src="./static/assets/google_remove.png" width="20" height="20">
                                LogIn
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link">{{ username }} 님</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="/logout">
                                LogOut
                            </a>
                        </li>
                        {% endif %}
                </div>

            </div>
        </nav>

        <div class="slide slide_wrap">
            <div class="slide_item item1">
                <div class="text-center text-xxl-start">
                    <div class="badge bg-gradient-primary-to-secondary text-white mb-4">
                        <div class="text-uppercase">Fashion &middot; Marketing &middot; Influence</div>
                    </div>
                    <div>
                        <h1 class="display-4 fw-bolder mb-5" style="float:left"><span
                                class="text-gradient d-inline">Connect with <br>Top <br>Influencers <br>in Your
                                Niche</span></h1>
                        </h1>
                    </div>
                    <div style="float:right">
                        <h1 class="display-3 fw-bolder mb-5">
                            <img class="opacity" src="./static/assets/feed.jpg" width="550" height="400"
                                style="float:right">
                        </h1>
                    </div>

                    <!-- <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/resume">Resume</a> -->
                </div>
            </div>


            <div class="slide_item item2">
                <div class="text-center text-xxl-start">
                    <div class="badge bg-gradient-primary-to-secondary text-white mb-4">
                        <div class="text-uppercase">Fashion &middot; Marketing &middot; Influence</div>
                    </div>
                    <h1 class="display-3 fw-bolder mb-5">
                        <img class="opacity" src="./static/assets/feed.jpg" width="550" height="400" style="float:left">
                    </h1>
                    <h1 class="display-4 fw-bolder mb-5"><span class="text-gradient d-inline">Connect with Top
                            Influencers <br>in Your Niche</span></h1>
                    <!-- <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/resume">Resume</a>
                    <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="/projects">Projects</a> -->
                </div>
            </div>


            <!-- <div class="slide_item item3">3</div> -->
            <!-- <div class="slide_item item4">4</div>
                <div class="slide_item item5">5</div> -->
            <div class="slide_prev_button slide_button">◀</div>
            <div class="slide_next_button slide_button">▶</div>
            <ul class="slide_pagination"></ul>
        </div>

    </main>
<br>
    <section id="company-services" class="bg-white2">
        <div class="container my-5">
            <div class="row">
                <div class="icon-box-wrapper d-flex flex-wrap justify-content-between">
                    <div class="icon-box text-center col-md-3 col-sm-12">
                        <div class="content-box border-top border-bottom">
                            <div class="icon-content">
                                <br>
                                <img src="./static/assets/warnings.png" width="100" heighe="100">
                                <h3 class="no-margin">Influencer Recommendation</h3>
                                <p>Recommended 1 major and 2 minors suitable for advertisement</p>
                            </div>
                        </div>
                    </div>
                    <div class="icon-box text-center col-md-3 col-sm-12">
                        <div class="content-box border-top border-bottom">
                            <div class="icon-content">
                                <br>
                                <img src="./static/assets/hashtag.png" width="100" heighe="100">
                                <h3 class="no-margin">Hashtag Ranking</h3>
                                <p>List of matching hashtags after a survey</p>
                            </div>
                        </div>
                    </div>
                    <div class="icon-box text-center col-md-3 col-sm-12">
                        <div class="content-box border-top border-bottom">
                            <div class="icon-content">
                                <br>
                                <img src="./static/assets/cluster.png" width="100" heighe="100">
                                <h3 class="no-margin">Hashtag Clustering</h3>
                                <p>Hashtag clustering</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="testimonials" class="position-relative padding-large">
        <div class="container mt-5">
            <div class="text-center2 d-flex justify-content-center">
                <div class="review-item col-md-8">
                    <img class="quote" src="./static/assets/quote.png" width="60" height="60">
                    <br>
                    <h2>
                        <blockquote>“제품 광고에 효과적인
                            인스타그램 인플루언서를 소개해드려요.”</blockquote>
                    </h2>
    
                    <div class="author-detail">
                        <div class="name text-primary">Emma Chamberlin</div>
                    </div>
                    <br>
                    <div>
                        <img src="./static/assets/feed_one.jpg" width="250" height="250">
                    </div>
                </div>
            </div>
        </div>
    </section>
<br><br>
    <section id="testimonials" class="position-relative padding-large bg-white2">
        <div class="container mt-5">
            <div class="text-center2 d-flex justify-content-center">
                <div>
                    <img src="./static/assets/hashtag (1).png" width="400" height="400">
                </div>
                <div class="review-item col-md-7">
                    <img class="quote" src="./static/assets/hashtag1.png" width="60" height="60">
                    <br><br>
                    <h2>
                        <blockquote>“제품 광고에 효과적인
                            인스타그램 해시태그를 추천해드려요.”</blockquote>
                    </h2>
    
                    <div class="author-detail">
                        <div class="name text-primary">Emma Chamberlin</div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </section>

    <br>
    <section id="testimonials" class="position-relative padding-large bg-white">
        <div class="container mt-5">
            <div class="text-center2 d-flex justify-content-center">
                <div class="review-item col-md-7">
                    <br>
                    <img class="quote" src="./static/assets/quote.png" width="60" height="60">
                    <br><br>
                    <h2>
                        <blockquote>“광교 효과 <p> 뭐시기 </p><b class="color_blue">#style_focus</b> 에서 만나보세요.”</blockquote>
                    </h2>
                    <br>
                    <!-- 레뷰에서 카피해와서 문구 수정 필수 -->
                    <h4>
                        브랜드에 딱 맞는! 제품을 빛내주는! 영향력 있는! <p> 인플루언서들을 매칭해드려요.
                    </h4>
                    <br><br><br>
                    <div class="author-detail">
                        <div class="name text-primary">Emma Chamberlin</div>
                        <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/resume">Resume</a>
                    </div>
                </div>
                <div>
                    <div class="border feed_box">
                        <div class="feed_name">
                            <div class="profile_box">
                                <img class="profile_img" src="./static/assets/user.png" width="30" height="30">">
                            </div>
                            <span class="feed_name_txt"> user </span>
                        </div>
                        <img class="feed_img"
                            src="https://mblogthumb-phinf.pstatic.net/MjAxNzA2MTFfMjc1/MDAxNDk3MTcyMDgyNzEw.ID5RyHWKvsVEW2NS9EQGyRYX7vUaXr7znQeuTrRRmdIg.gK7MD7VhNJPkV4_dueiWer2y-oH7NAAmEklF-6bbYyQg.JPEG.jejubyeol/%EC%97%AC%EB%A6%84%EC%97%90_%EC%A0%9C%EC%A3%BC%EB%8F%84_%EC%82%AC%EC%A7%84%EC%B0%8D%EA%B8%B0_%EC%A2%8B%EC%9D%80%EA%B3%B3.jpg?type=w800">
                
                        <div class="feed_icon">
                            <div>
                                <span class="material-icons-outlined">
                                    <img src="./static/assets/hearts.png" width="25" height="25">
                                </span>
                                <span class="material-icons-outlined">
                                    <img src="./static/assets/chat.png" width="23" height="23">
                                </span>
                                <span class="material-icons-outlined">
                                    <img src="./static/assets/send.png" width="25" height="25">
                                </span>
                            </div>
                            <div>
                                <span class="material-icons-outlined">
                                    <img src="./static/assets/save-instagram.png" width="25" height="25">
                                </span>
                            </div>
                        </div>
                
                        <div class="feed_like">
                            <span class="feed_txt"> <b>좋아요 1210개</b></span>
                        </div>
                        <div class="feed_content">
                            <span class="feed_txt"> <b> user </b> #광고 #협찬 ...</span>
                        </div>
                        <div class="feed_gray">
                            <span class="feed_txt3">댓글 20개 모두 보기</span>
                        </div>
                        <div class="feed_reply">
                            <span class="feed_txt"> <b> user2 </b> 너무 멋있어요</span>
                            <span class="feed_txt"> <b> chat </b> 잘생겼당 </span>
                        </div>
                        <div class="feed_gray">
                            <span class="feed_txt2">2시간 전</span>
                        </div>
                    </div>
              
        </div>
    </section>

    <br>
    <!-- Footer-->
    <footer class="bg-white2 py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0">Copyright &copy; #Style_Focus 2023</div>
                </div>
                <div class="col-auto">
                    <div class="d-flex justify-content-center fs-2 gap-4">
                        <a class="text-gradient" href="#!"><i class="bi bi-instagram"></i></a>
                        <a class="text-gradient" href="#!"><i class="bi bi-facebook"></i></a>
                        <a class="text-gradient" href="https://github.com/S0HYUNN/Style_Focus"><i
                                class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="./static/js/scripts.js"></script>
</body>

</html>