<!doctype html>
<html lang="en">

<header>
	<title>input_form</title>
	<div class="text-box">
	  <h1 id="title">SURVEY FORM</h1><hr>
		<p id="description"></p>
	</div>

	<link rel="stylesheet" href="./static/css/input.css">

  </header>
	  <div class="container">
		<form id="survey-form" method="GET">
			
		   <div class="labels">
			<label for="dropdown">How do you watch South Park?</label></div>
		  <div class="input-tab">
			<select id="dropdown" name="site">
			  <option disabled value selected>Select an option</option>
			  <option value="web">Website</option>
			  <option value="hulu">Hulu</option>
			  <option value="youtube">Youtube</option>
			  <option value="tv">TV</option>
			  <option value="other">Other</option>
			</select>
			</div>
		  
		  <div class="labels">
			<label>계절</label></div>
		  <div class="input-tab">
			  <input type="radio" name="radio-button" value="love">봄<br>
			  <input type="radio" name="radio-button" value="like">여름<br>
			  <input type="radio" name="radio-button" value="ok">가을<br>
			  <input type="radio" name="radio-button" value="nah">겨울<br>
		  </div>
		  
		  <div class="labels">
			<label for="dropdown">How many seasons of South Park have you watched?</label></div>
		  <div class="input-tab">
			<select id="dropdown" name="seasons">
			  <option disabled value selected>Select an option</option>
			  <option value="<=5">0-5</option>
			  <option value="<=10">6-10</option>
			  <option value="<=15">10-15</option>
			  <option value="<=21">15-21</option>
			</select>
		  </div>
		  
		  <div class="labels">
			<label>Who do you watch South Park with?<br>(Check all that apply):</label></div>
		  <div class="input-tab">
			<input type="checkbox" name="alone" value="alone">Alone<br>
			<input type="checkbox" name="friends" value="fr">Friends<br>
			<input type="checkbox" name="family" value="fam">Family<br>
			<input type="checkbox" name="partner" value="fam">Partner<br>
			<input type="checkbox" name="other" value="other">Other<br>
		  </div>        
		  
		  <div class="labels">
			<label for="comments">Tell us more about your favorite character(s) or episode(s)</label></div>
		  <div class="input-tab">
			<textarea class="input-field" id="comments" name="comments" rows="10" cols="40" placeholder="Your comments..."></textarea></div>
		  
		  <div class="btn">
			<button id="submit" type="submit">Submit</button>
		  </div>
		  
		</form>
	  </div>
  
  <footer>
	<div class="contact">
	  <a href="https://github.com/linh4" target="_blank">
		<span class="icon"><i class="fa fa-github"></i></span></a>
	  <a href="https://codepen.io/linh4/" target="_blank">
		<span class="icon"><i class="fa fa-codepen"></i></span></a>
	  <a href="https://www.freecodecamp.org/linh4" target="_blank">
		<span class="icon"><i class="fa fa-free-code-camp"></i></span></a>
	</div>
		<p>&copy 2018 Linh Huynh</a></p>
  </footer>
  

</html>