
{% extends"base.html" %}
{% block content %}
  </header>
  <link rel="stylesheet" href="./static/css/input.css">
  <div class="text-box">
	<h1 id="title">SURVEY FORM</h1><hr>
	  <p id="description"></p>
  </div>
	  <div class="input_container">
		<form class="flex" id="survey-form" method="POST">
			{{form.hidden_tag()}}
			<div>{{form.type.label(class="labels")}} {{form.type(class="input-tab")}}</div>
			<!-- <div>{{form.season.label(class="labels")}} {{form.season(class="input-tab")}}</div> -->
			<div>{{form.style.label(class="labels")}} {{form.style(class="input-tab")}}</div>
			<div>{{form.focus.label(class="labels")}} {{ form.focus(class="input-tab") }}</div>
		  <div class="btn">
			{{form.submit(class="button")}}
		  </div>
		</form>
	</div>
	</div>
	<div class="margin-top"></div>
{% endblock %}
