{% extends "base.html"%}
{% block content %}
<link rel="stylesheet" href="./static/css/projects.css">
            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center projects-container">
                        <!-- <div class="col-lg-11 col-xl-9 col-xxl-8"> -->    
                        <!-- Project Card -->
                        {% if not projects %}
                        <div class="no-projects">
                            <div>Click Create to Make New Projects!</div>
                        </div>
                        {% else %}
                            {% for project in projects %}
                            <a class="project-a" 
                            href="{{url_for('projects_output', Ptype=project['type'], Pseason=project['season'], Pstyle=project['style'], Pfocus=project['focus'])}}">
                            <div class="card overflow-hidden shadow rounded-4 border-0 project{{loop.index0}}">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="padding-2">
                                            <h2 class="fw-bolder project-title">Project {{loop.index}}</h2>
                                            <ul>
                                            {% for key, value in project.items() %}
                                                <li>{{key}}: {{value}}</li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </a>
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </div>
            </section>

{%endblock%}