
{% extends"base.html" %}
{% block content %}
<div class="body">
    <link rel="stylesheet" href="./static/css/signup.css">
    <br>
    <!-- <h2><a class="title" href="/">#Style_Focus</a></h2> -->
    <div class="signup_container" id="container">
        <div class="form-container sign-up-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <a class="main_button" href="/"><button class="ghost" id="signUp">#Style_Focus</button></a>
                </div>
            </div>
        </div>
        <div class="overlay-container">
            <form action="#" method="POST">
                <h1>Sign Up</h1>
                <br>
                <span class="box_span"><a href="/login" style="text-decoration: none;">or use your account</a></span>
                {{ form.hidden_tag() }}
                <div class="input">{{email}}</div>
                <div class="input">{{name}}</div>
                {{form.username}}
                <small class="text-muted">*Enter your username</small>
                <br>
                <button class="bg-gradient-primary-to-secondary">Sign Up</button>
            </form>
        </div>
    </div>
</div>
    
{% endblock %}